<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fetch Rewards Project</title>
  </head>
  <body>
    <form method="POST">
      <h2>Enter the desired amount of rows and columns</h2>  

      <label for="rows">Rows:</label>
      <input type="text" id="rows" name="rows"><br><br>
      <label for="cols">Columns:</label>
      <input type="text" id="cols" name="cols">

      <h2>Enter the corner points</h2>

      <label for="corner1-x">Corner 1 X-coordinate:</label>
      <input type="text" id="corner1-x" name="corner1-x">
      <label for="corner1-y">Corner 1 Y-coordinate:</label>
      <input type="text" id="corner1-y" name="corner1-y"><br><br>

      <label for="corner2-x">Corner 2 X-coordinate:</label>
      <input type="text" id="corner2-x" name="corner2-x">
      <label for="corner2-y">Corner 2 Y-coordinate:</label>
      <input type="text" id="corner2-y" name="corner2-y"><br><br>

      <label for="corner3-x">Corner 3 X-coordinate:</label>
      <input type="text" id="corner3-x" name="corner3-x">
      <label for="corner3-y">Corner 3 Y-coordinate:</label>
      <input type="text" id="corner3-y" name="corner3-y"><br><br>

      <label for="corner4-x">Corner 4 X-coordinate:</label>
      <input type="text" id="corner4-x" name="corner4-x">
      <label for="corner4-y">Corner 4 Y-coordinate:</label>
      <input type="text" id="corner4-y" name="corner4-y"><br><br> 

      <button type='submit'>Submit</button>
    </form>
  </body>
</html>
